<div class="footer">
    <div class="center">
        <div class="contact">
            <p>Contact</p>
            <p>360 Harvest St, North Subract,London.United<br>
               States Of Amrica. 
            </p>
            <p>infp@themevessel.com</p>
            <p>+1 347-465-0659</p>
        </div>
        <div class="properties">
            <p>properties</p>
            <p>Apartment</p>
            <p>Restaurant</p>
            <p>My Houses</p>
            <p>Villa & Condo</p>
            <p>Family House</p>
        </div>
        <div class="quick">
            <p>quick</p>
            <p>About Us</p>
            <p>Services</p>
            <p>properries Details</p>
            <p>My Account</p>
            <p>Privacy Policy</p>
        </div>
        <div class="subscribe">
            <p>subscribe</p>
            <ul class="bin">
                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                <li> <a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-google-plus-g"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-signal"></i></a></li>
                <li> <a href="#"><i class="fa-brands fa-instagram"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="theme">
        <p>ⓒ2022 Theme Vessel.Trademarks and brands are the property of their respective owners.</p>
    </div>
    <div class="sdtd"><i class="fa-solid fa-arrow-up"></i></div>
</div>

